.app {
  text-align: center;
  width: 50%;
  min-width: 480px;
  margin: auto;

  .credit {
    font-size: 0.8rem;
    a {
      text-decoration: none;

      &:link {
        color: lightblue;
      }
      &:visited {
        color: purple;
      }
    }
  }

  ol {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .app {
    width: 100%;
    min-width: auto;
  }
}
